<script src="~/js/GatoScript.js"></script>
<div id="div_gato">
	<div class="container g-0">
		@{
			int casilla = 1;
		}
		@for (int i = 1; i < 4; i++)
		{
			<div class="row text-center g-0">
				@for (int j = 1; j < 4; j++)
				{
					<div class="col-4 g-0">
						@{
							string casillaValue = "c" + casilla.ToString();
						}
						@if (ViewData.ContainsKey(casilla.ToString()))
						{
							<input type="submit" style="pointer-events:none;" class="btn btn-primary btn-tictactoe" name="@casillaValue" id="@casillaValue" value="@ViewData[casilla.ToString()]" />
						}
						else
						{
							<button type="button" style="color: rgba(0, 0, 0, 0);" class="btn btn-primary btn-tictactoe" name="@casillaValue" id="@casillaValue" value="@casilla.ToString()" onclick="return query(@casilla.ToString())" />
						}
						@{
							casilla++;
						}
					</div>
				}
			</div>
		}
	</div>
</div>